/* src/pages/LoginSignup.css */
.container-lg {
  width: 100%;
  height: 100%;
}
.login-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.login-title {
  text-align: center;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
