.thesis-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.thesis-table th,
.thesis-table td {
  border: 1px solid #a4a3a3;
  padding: 8px;
  text-align: left;
}

.thesis-table th {
  background-color: #f2f2f2;
}
button[disabled] {
  background-color: #a4a3a3;
}
button {
  margin-top: 2px;
}
